--
-- PostgreSQL database dump
--

\restrict EKvxFM3af9E8ocFIfjht7dfjFO7auKDQkSExdHgBXNkE5KlZcUP0U7EInHVIitW

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: content; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA content;


ALTER SCHEMA content OWNER TO app;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: film_work; Type: TABLE; Schema: content; Owner: app
--

CREATE TABLE content.film_work (
    id uuid NOT NULL,
    title text NOT NULL,
    description text,
    rating double precision,
    creation_date date
);


ALTER TABLE content.film_work OWNER TO app;

--
-- Name: genre; Type: TABLE; Schema: content; Owner: app
--

CREATE TABLE content.genre (
    id uuid NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE content.genre OWNER TO app;

--
-- Name: genre_film_work; Type: TABLE; Schema: content; Owner: app
--

CREATE TABLE content.genre_film_work (
    id uuid NOT NULL,
    film_work_id uuid NOT NULL,
    genre_id uuid NOT NULL
);


ALTER TABLE content.genre_film_work OWNER TO app;

--
-- Name: person; Type: TABLE; Schema: content; Owner: app
--

CREATE TABLE content.person (
    id uuid NOT NULL,
    full_name text NOT NULL
);


ALTER TABLE content.person OWNER TO app;

--
-- Name: person_film_work; Type: TABLE; Schema: content; Owner: app
--

CREATE TABLE content.person_film_work (
    id uuid NOT NULL,
    film_work_id uuid NOT NULL,
    person_id uuid NOT NULL,
    role text
);


ALTER TABLE content.person_film_work OWNER TO app;

--
-- Data for Name: film_work; Type: TABLE DATA; Schema: content; Owner: app
--

COPY content.film_work (id, title, description, rating, creation_date) FROM stdin;
ab01f602-44b6-4d99-9324-b63fa723cae4	Inception	Dreams inside dreams	8.8	2010-07-16
265a956f-5e0e-4e16-aafe-7c99cdc6f241	Pulp Fiction	Crime stories	8.9	1994-10-14
6d2b1bde-0978-4326-b6fd-4e1cb0c37c91	Django Unchained	Western revenge	8.4	2012-12-25
\.


--
-- Data for Name: genre; Type: TABLE DATA; Schema: content; Owner: app
--

COPY content.genre (id, name, description) FROM stdin;
f3b0c87e-c215-49df-b5be-3c79410c2530	Action	Action movies
2c5111a4-24bd-4595-895f-5a51459ceb18	Drama	Drama movies
c28dbef0-44b0-4b1f-9d5f-1ab412181d93	Comedy	Comedy movies
\.


--
-- Data for Name: genre_film_work; Type: TABLE DATA; Schema: content; Owner: app
--

COPY content.genre_film_work (id, film_work_id, genre_id) FROM stdin;
\.


--
-- Data for Name: person; Type: TABLE DATA; Schema: content; Owner: app
--

COPY content.person (id, full_name) FROM stdin;
95abfdd4-3302-41a5-b581-681d7a3d0349	Quentin Tarantino
3be99504-5645-4770-832a-0d6844bcb29f	Christopher Nolan
10d3cd14-8b49-49ee-8224-5e1435829d20	Leonardo DiCaprio
\.


--
-- Data for Name: person_film_work; Type: TABLE DATA; Schema: content; Owner: app
--

COPY content.person_film_work (id, film_work_id, person_id, role) FROM stdin;
\.


--
-- Name: film_work film_work_pkey; Type: CONSTRAINT; Schema: content; Owner: app
--

ALTER TABLE ONLY content.film_work
    ADD CONSTRAINT film_work_pkey PRIMARY KEY (id);


--
-- Name: genre_film_work genre_film_work_pkey; Type: CONSTRAINT; Schema: content; Owner: app
--

ALTER TABLE ONLY content.genre_film_work
    ADD CONSTRAINT genre_film_work_pkey PRIMARY KEY (id);


--
-- Name: genre genre_pkey; Type: CONSTRAINT; Schema: content; Owner: app
--

ALTER TABLE ONLY content.genre
    ADD CONSTRAINT genre_pkey PRIMARY KEY (id);


--
-- Name: person_film_work person_film_work_pkey; Type: CONSTRAINT; Schema: content; Owner: app
--

ALTER TABLE ONLY content.person_film_work
    ADD CONSTRAINT person_film_work_pkey PRIMARY KEY (id);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: content; Owner: app
--

ALTER TABLE ONLY content.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict EKvxFM3af9E8ocFIfjht7dfjFO7auKDQkSExdHgBXNkE5KlZcUP0U7EInHVIitW

